n8n/workflows/1-google-forms-to-api.json
{
  "name": "SBCC: Google Forms → API (with Error Handling)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-form-collection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Collection Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sbcc-collection-form"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-form-expense",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-expense",
      "name": "Webhook - Expense Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "sbcc-expense-form"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.submitter_email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.date}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-data",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SBCC_API_URL}}/api/forms/validate-user/{{$json.submitter_email}}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "validate-user",
      "name": "Validate User in Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.canSubmit}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-user-authorized",
      "name": "Check User Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SBCC_API_URL}}/api/forms/collection",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submitter_email",
              "value": "={{$json.submitter_email}}"
            },
            {
              "name": "date",
              "value": "={{$json.date}}"
            },
            {
              "name": "description",
              "value": "={{$json.description}}"
            },
            {
              "name": "general_tithes_offering",
              "value": "={{$json.general_tithes_offering || 0}}"
            },
            {
              "name": "sunday_school",
              "value": "={{$json.sunday_school || 0}}"
            },
            {
              "name": "young_people",
              "value": "={{$json.young_people || 0}}"
            },
            {
              "name": "sisterhood_san_juan",
              "value": "={{$json.sisterhood_san_juan || 0}}"
            },
            {
              "name": "sisterhood_labuin",
              "value": "={{$json.sisterhood_labuin || 0}}"
            },
            {
              "name": "brotherhood",
              "value": "={{$json.brotherhood || 0}}"
            },
            {
              "name": "bank_interest",
              "value": "={{$json.bank_interest || 0}}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 3,
            "waitBetweenRetries": 2000
          }
        }
      },
      "id": "submit-to-api",
      "name": "Submit to API (with Retry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_USER}}",
        "toEmail": "={{$json.submitter_email}}",
        "subject": "Collection Submitted Successfully - SBCC",
        "emailType": "html",
        "message": "<h2>Collection Submitted Successfully</h2><p>Your collection has been recorded in the SBCC Financial System.</p><p><strong>Control Number:</strong> {{$json.control_number}}</p><p><strong>Total Amount:</strong> ₱{{$json.total_amount}}</p><p>Thank you for your contribution!</p>"
      },
      "id": "send-success-email",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_USER}}",
        "toEmail": "={{$env.NOTIFICATION_EMAIL}}",
        "subject": "❌ Form Submission Failed - SBCC",
        "emailType": "html",
        "message": "<h2>Form Submission Error</h2><p><strong>User:</strong> {{$json.submitter_email}}</p><p><strong>Error:</strong> {{$json.error}}</p><p><strong>Time:</strong> {{$now}}</p>"
      },
      "id": "send-error-alert",
      "name": "Send Error Alert to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({success: true, message: 'Collection submitted successfully', record_id: $json.record_id})}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{JSON.stringify({success: false, error: 'Submission failed'})}}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook - Collection Form": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Validate User in Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User in Database": {
      "main": [
        [
          {
            "node": "Check User Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Authorized": {
      "main": [
        [
          {
            "node": "Submit to API (with Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Alert to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to API (with Retry)": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Alert to Admin": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
